
body {
	
	font-family: "Montserrat", sans-serif;
	
}

table{
	
	margin: 20px;
}

thead {
	background-color: rgb(20, 41, 54);
	
	
}
tr {
	
}
th {
	color: white;
	font-size: 1.1em;
	margin-bottom: 10px;
	padding: 15px;
	text-align: center;
	
}

td {
	color: rgb(20, 41, 54);
	border-bottom: 1px solid black;
	padding: 10px;
	
}

#takaisin {
	cursor: pointer;
}
#uusiAsiakas {
	cursor: pointer;
}

.poista {
	color: red;
	text-decoration: underline;
	cursor: pointer;	
}
